@tailwind base;
@tailwind components;
@tailwind utilities;

strong {
  @apply text-[#e2b616] text-lg;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
  }
}

.movie {
  background-image: url("/movie-2.jpg");
}
